params {
  // conda
  conda.enabled = true
  conda.useMamba= true
  engine = 'micromamba'
  
  // core inputs
  features   = 'MData/Lung/FeaturesLung_TrainAll.csv'
  meta       = 'MData/Lung/Metadata_TrainLungAll.csv'
  covariates = 'diversity_shannon,Incidence,Density'
  outdir     = 'Results/MLTBdx_mwmoteLungA1'

  // modeling grid
  norms   = 'rank.unit,rank.std,log.std,log.unit,log.clr,std'
  cutoffs = '0.0001, 0.0005, 0.001, 0.005, 0.01'
  models  = 'randomForest,lasso,lasso_ll,enet,ridge,ridge_ll'
  
// Evaluation metric of choice
  sel_metric = 'mcc'

  // interpretation plot consensus for randomForest
  rf_consens_thresh = 0.01

  // labels / IDs
  label_column = 'Disease_Status'   
  case_label   = 'TB_case'
  taxa_col     = 'Genus'
  meta_id_col  = 'SampleID'
  meta_ids_are_colnames = false

  // SHAP
  shap_nsim   = 100
  shap_sample = 200
  shap_mtry   = 18
  shap_trees  = 1000
  shap_alpha  = 0.5
  shap_thresh = 0.5

  // validation inputs (optional; can be null if unused)
  val_features    = 'MData/Lung/FeaturesLung_ValidAll.csv'
  val_meta        = 'MData/Lung/Metadata_ValidLungAll.csv'
  label_col       = 'Disease_Status'
  val_feat_id_col = 'GENUS'
}


process {
  cpus = 8
  memory = '32 GB'
  errorStrategy = 'retry'
  maxRetries = 1
//  scratch = true
}

profiles {
  docker {
    docker.enabled = true
  }
  conda {
        process {
      // make all processes use this env by default
      conda = 'envs/r-siamcat.yml'
    }
    conda.enabled = true
    conda.useMamba = true
    //conda.cli = "/home/hagasi/.local/bin/micromamba"
    //engine   = 'micromamba'
  }

  // 2. The Clean Micromamba Profile
    micromamba {
        conda.enabled = true
        conda.useMamba = true
        process {
            // We manually inject micromamba path, auto-create the env if missing, and activate it!
            beforeScript = """
                export PATH="\$HOME/.local/bin:\$PATH"
                if [ ! -d "${projectDir}/.local_env" ]; then
                    micromamba create -y -p ${projectDir}/.local_env -f ${projectDir}/envs/r-siamcat.yml
                fi
                eval "\$(micromamba shell hook --shell bash)"
                micromamba activate ${projectDir}/.local_env
            """
        }
    }


}

timeline {
  enabled = true
  overwrite = true
  file = "${params.outdir}/timeline.html"
}

trace {
  enabled = true
  overwrite = true
  file = "${params.outdir}/trace.txt"
}

report {
  enabled = true
  overwrite = true
  file = "${params.outdir}/report.html"
}

