params {
  // choose one: docker OR conda
  useDocker = true
  // nextflow.config
  
  // core inputs
  features   = '../Data/FeaturesLung2.csv'
  meta       = '../Data/Monica_Updated_Meta_Lung.csv'
  covariates = 'diversity_shannon,Incidence,Density'
  outdir     = '../NextflowResults/PipelineFullUpdated'

  // modeling grid
  //'rank.unit,rank.std,log.std,log.unit,log.clr,std'
  norms   = 'rank.unit,rank.std,log.std,log.unit,log.clr,std'
  cutoffs = '0.0001, 0.0005, 0.001, 0.005, 0.01'
  //norms='rank.unit'
  //cutoffs = '0.001'
  models  = 'randomForest,lasso,ridge_ll'
  //models = 'randomForest'
  // selection metric
  sel_metric = 'mcc'
  // interpretation plot consensus for randomForest
  rf_consens_thresh = 0.01

  // labels / IDs
  label_column = 'Disease_Status'   // prefer this key
  case_label   = 'TB_case'
  taxa_col     = 'Genus'
  meta_id_col  = 'SampleID'
  meta_ids_are_colnames = false

  // SHAP
  shap_nsim   = 100
  shap_sample = 200
  shap_mtry   = 18
  shap_trees  = 1000
  shap_alpha  = 0.5
  shap_thresh = 0.5

  // validation inputs (optional; can be null if unused)
  val_features    = '../Data/Validation/ValidationFeaturesDiseaseStatusChinaLung.csv'
  val_meta        = '../Data/Validation/ValMetaDiseaseStatusChinaLung.csv'
  label_col       = 'Disease_Status'   // keep ONLY if some code explicitly expects this name
  val_feat_id_col = 'Genus'
}


process {
  cpus = 16
  memory = '32 GB'
  errorStrategy = 'retry'
  maxRetries = 1
//  scratch = true
}

profiles {
  docker {
    docker.enabled = true
  }
  conda {
        process {
      // make all processes use this env by default
      conda = 'envs/r-siamcat.yml'
    }
    conda.enabled = true
  }
}

timeline {
  enabled = true
  overwrite = true
  file = "${params.outdir}/timeline.html"
}

trace {
  enabled = true
  overwrite = true
  file = "${params.outdir}/trace.txt"
}

report {
  enabled = true
  overwrite = true
  file = "${params.outdir}/report.html"
}

