params {
  // choose one: docker OR conda
  
  // core inputs
  features   = 'data/Features_Sample.csv'
  meta       = 'data/Metadata_Sample.csv'
  covariates = 'diversity_shannon,Incidence,Density'
  outdir     = 'MLTBdx_pipelineResults'

  // modeling grid
  norms   = 'rank.unit,rank.std,log.std,log.unit,log.clr,std'
  cutoffs = '0.0001, 0.0005, 0.001, 0.005, 0.01'
  models  = 'randomForest,lasso,lasso_ll,enet,ridge,ridge_ll'
  
  // selection metric
  sel_metric = 'mcc'
  // interpretation plot consensus for randomForest
  rf_consens_thresh = 0.01

  // labels / IDs
  label_column = 'Disease_Status'   // prefer this key
  case_label   = 'TB_case'
  taxa_col     = 'Genus'
  meta_id_col  = 'SampleID'
  meta_ids_are_colnames = false

  // SHAP
  shap_nsim   = 100
  shap_sample = 200
  shap_mtry   = 18
  shap_trees  = 1000
  shap_alpha  = 0.5
  shap_thresh = 0.5

  // validation inputs (optional; can be null if unused)
  val_features    = 'data/Validation_Features_Sample.csv'
  val_meta        = 'data/Validation_Metadata_Sample.csv'
  label_col       = 'Disease_Status'
  val_feat_id_col = 'Genus'
}


process {
  cpus = 16
  memory = '32 GB'
  errorStrategy = 'retry'
  maxRetries = 1
//  scratch = true
}

profiles {
  docker {
    docker.enabled = true
  }
  conda {
        process {
      // make all processes use this env by default
      conda = 'envs/r-siamcat.yml'
    }
    conda.enabled = true
  }
}

timeline {
  enabled = true
  overwrite = true
  file = "${params.outdir}/timeline.html"
}

trace {
  enabled = true
  overwrite = true
  file = "${params.outdir}/trace.txt"
}

report {
  enabled = true
  overwrite = true
  file = "${params.outdir}/report.html"
}

